@font-face {
  font-family: 'HankenGrotesk';
  src: url(/HankenGrotesk.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'HankenGrotesk';
  color: white;
}

#contact-me,
.whole-page {
  position: relative;
}

.whole-page {
  display: grid;
  grid-template-rows: 8vh repeat(2, 100vh);
}

.start-page {
  height: 100vh;
  display: grid;
  grid-template-rows: 7vh 93vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav-buttons > ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-buttons > ul > li > a {
  text-decoration: none;
}

.nav-buttons > ul > li > a:hover,
.nav-buttons > ul > li > button:hover {
  border-bottom: solid white;
}

.intro {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  align-items: center;
}

.intro > h1 {
  font-size: 4rem;
}

.intro > p {
  font-size: 1.5rem;
}

#about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #333;
}

.about-me-text,
.skills {
  height: 40%;
}

.about-me-text {
  width: 50vw;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}

.skills {
  width: 30vw;
  overflow-x: scroll;
  display: flex;
}

.skills-inner {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 120px;
  border: solid;
  background-color: white;

  img {
    width: 50%;
  }
}

#projects {
  width: 90%;
  margin: 30px auto 20vh auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.all-projects {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.all-projects > a {
  text-decoration: none;
}

.all-projects > a > div {
  display: flex;
  background-color: #333;
  gap: 20px;
  padding: 30px;
}

.project-text > ul {
  list-style: none;
}

.project-image > img {
  width: 400px;
  height: 200px;
}

.contact-me-button {
  border: none;
  background: none;
  font-size: 1rem;
}

/* @keyframes allImages {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-80%);
  }
} */
