#root {
  width: 500px;
  height: 300px;
  border: solid;
  text-align: center;
}

.all-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.all-buttons > button {
  border: none;
  padding: 10px;
}

.all-buttons > button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
